<div @fadeInOut *ngIf="loading || failed" class="background"></div>
<div @fadeInOut *ngIf="loading" class="grand-parent-login-container">
  <div class="parent-login-container">
    <mat-spinner
      [ngStyle]="{ margin: '0 auto' }"
      [diameter]="200"
    ></mat-spinner>
  </div>
</div>
<div @fadeInOut *ngIf="failed" class="grand-parent-login-container">
  <div class="parent-login-container">
    <h1 [ngStyle]="{ margin: '0 auto', width: '300px' }">
      {{ 'Error loading data' | translate }}
    </h1>
    <div [ngStyle]="{ margin: '15px auto', width: '40px' }">
      <button
        mat-raised-button
        mat-icon-button
        color="accent"
        (click)="updateLayers()"
        matTooltip="{{ 'Retry' | translate }}"
      >
        <mat-icon svgIcon="refresh"></mat-icon>
      </button>
    </div>
  </div>
</div>
<div [ngStyle]="{ width: '100%', height: 'calc(100% - 54px)' }">
  <div
    *ngIf="mapOptions"
    leaflet
    [ngStyle]="mapStyle"
    [leafletOptions]="mapOptions"
    (leafletMapReady)="onMapReady($event)"
  >
    <div class="leaflet-control-container">
      <div class="leaflet-top leaflet-right">
        <mat-button-toggle-group
          class="leaflet-control"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            (click)="menu === 'layers' ? (menu = '') : (menu = 'layers')"
            value="layers"
            name="layers-menu"
            [checked]="menu === 'layers'"
            matTooltip="{{ 'Layers' | translate }}"
          >
            <mat-icon
              [ngStyle]="{ color: '#3f51b5' }"
              svgIcon="layers"
            ></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            (click)="
              menu === 'legend' ? (menu = '') : (menu = 'legend');
              selectLayerLegend(layerLegend)
            "
            value="legend"
            name="legend-menu"
            [checked]="menu === 'legend'"
            matTooltip="{{ 'Legend' | translate }}"
          >
            <mat-icon
              [ngStyle]="{ color: '#3f51b5' }"
              svgIcon="pin_drop"
            ></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            (click)="
              menu === 'controls' ? (menu = '') : (menu = 'controls');
              selectLayerControl(layerControl)
            "
            value="controls"
            name="controls-menu"
            [checked]="menu === 'controls'"
            matTooltip="{{ 'Controls' | translate }}"
          >
            <mat-icon
              [ngStyle]="{ color: '#3f51b5' }"
              svgIcon="settings"
            ></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-card
          [ngStyle]="{ display: menu ? 'inherit' : 'none' }"
          class="leaflet-control"
        >
          <mat-card-content [ngStyle]="{ width: '200px' }" @fadeInOut>
            <div [ngStyle]="{ 'text-align': 'center' }"></div>
            <div>
              <div
                [ngStyle]="{
                  display: menu === 'layers' ? 'inherit' : 'none',
                  'margin-top': '5px'
                }"
              >
                <mat-checkbox
                  [ngStyle]="{ display: 'block' }"
                  color="primary"
                  *ngFor="let layer of dataLayers; let i = index"
                  [(ngModel)]="layerSwitches[i]"
                  >{{ layer.name | translate }}</mat-checkbox
                >
                <br />
                <div
                  [ngStyle]="{ 'text-align': 'center', 'margin-top': '5px' }"
                >
                  <button
                    mat-icon-button
                    mat-stroked-button
                    color="primary"
                    (click)="updateLayers()"
                    matTooltip="{{ 'Update' | translate }}"
                  >
                    <mat-icon svgIcon="check"></mat-icon>
                  </button>
                </div>
              </div>
              <div
                [ngStyle]="{
                  display: menu === 'legend' ? 'inherit' : 'none',
                  'margin-top': '5px'
                }"
              >
                <mat-form-field>
                  <mat-label>{{ 'Layer' | translate }}</mat-label>
                  <mat-select [(value)]="layerLegend">
                    <mat-option
                      *ngFor="let layer of activeLayers"
                      (click)="selectLayerLegend(layer)"
                      [value]="layer"
                    >
                      {{ layer | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <ng-template #legend appPluginComponent></ng-template>
              </div>
              <div
                [ngStyle]="{
                  display: menu === 'controls' ? 'inherit' : 'none',
                  'margin-top': '5px'
                }"
              >
                <mat-form-field>
                  <mat-label>{{ 'Layer' | translate }}</mat-label>
                  <mat-select [(value)]="layerControl">
                    <mat-option
                      *ngFor="let layer of activeLayers"
                      (click)="selectLayerControl(layer)"
                      [value]="layer"
                    >
                      {{ layer | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <ng-template #controls appPluginComponent></ng-template>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="leaflet-bottom leaflet-left floating-controls"></div>
    </div>
  </div>
</div>
