.toggle-menu-up {
  position: relative;
  bottom: 54px;
  margin: 0 auto;
  z-index: 100000;
}

.toggle-menu-down {
  position: relative;
  top: 0px;
  margin: 0 auto;
  z-index: 100000;
}

mat-card {
  opacity: 0.7;
}

mat-card:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.floating-controls {
  opacity: 0.7;
}

.floating-controls:hover {
  opacity: 1;
}

.parent-login-container {
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
}

.grand-parent-login-container {
  display: table;
  height: calc(100% - 54px);
  margin: 0 auto;
  position: absolute;
  z-index: 10000;
  width: 100%;
  overflow: hidden;
}

.background {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  height: calc(100% - 54px);
  z-index: 9999;
  width: 100%;
  overflow: hidden;
}
