<div @fadeInOut *ngIf="loading || failed" class="background"></div>
<div @fadeInOut *ngIf="loading" class="grand-parent-login-container">
  <div class="parent-login-container">
    <mat-spinner
      [ngStyle]="{ margin: '0 auto' }"
      [diameter]="200"
    ></mat-spinner>
  </div>
</div>
<div @fadeInOut *ngIf="failed" class="grand-parent-login-container">
  <div class="parent-login-container">
    <h1 [ngStyle]="{ margin: '0 auto', width: '300px' }">
      {{ 'Error loading data' | translate }}
    </h1>
    <div [ngStyle]="{ margin: '15px auto', width: '40px' }">
      <button
        mat-raised-button
        mat-icon-button
        color="accent"
        (click)="updateLayers()"
        matTooltip="{{ 'Retry' | translate }}"
      >
        <mat-icon svgIcon="refresh"></mat-icon>
      </button>
    </div>
  </div>
</div>
<div [ngStyle]="{ width: '100%', height: 'calc(100% - 54px)' }">
  <div
    *ngIf="mapOptions"
    leaflet
    [ngStyle]="mapStyle"
    [leafletOptions]="mapOptions"
    (leafletMapReady)="onMapReady($event)"
  >
    <div class="leaflet-control-container">
      <div class="leaflet-top leaflet-right">
        <mat-button-toggle-group
          class="leaflet-control"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            (click)="showLayers = !showLayers"
            value="layers"
            name="layers-menu"
            [checked]="showLayers"
            matTooltip="{{
              showLayers
                ? ('Hide layer menu' | translate)
                : ('Show layer menu' | translate)
            }}"
          >
            <mat-icon
              [ngStyle]="{ color: '#3f51b5' }"
              svgIcon="layers"
            ></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-card
          [ngStyle]="{ display: showLayers ? 'inherit' : 'none' }"
          class="leaflet-control"
        >
          <mat-card-content [ngStyle]="{ width: '200px' }">
            <div [ngStyle]="{ 'text-align': 'center' }"></div>
            <div>
              <div
                [ngStyle]="{
                  display: showLayers ? 'inherit' : 'none',
                  'margin-top': '5px'
                }"
              >
                <mat-checkbox
                  [ngStyle]="{ display: 'block' }"
                  color="primary"
                  *ngFor="let layer of dataLayers; let i = index"
                  [(ngModel)]="layerSwitches[i]"
                  >{{ layer.name | translate }}</mat-checkbox
                >
                <br />
                <div
                  [ngStyle]="{ 'text-align': 'center', 'margin-top': '5px' }"
                >
                  <button
                    mat-icon-button
                    mat-stroked-button
                    color="primary"
                    (click)="updateLayers()"
                    matTooltip="{{ 'Update' | translate }}"
                  >
                    <mat-icon svgIcon="check"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="leaflet-bottom leaflet-left floating-controls">
        <mat-card
          [ngStyle]="{ display: showControls ? 'inherit' : 'none' }"
          class="leaflet-control"
        >
          <mat-card-content>
            <mat-form-field>
              <mat-label>{{ 'Layer' | translate }}</mat-label>
              <mat-select [(value)]="selectedLayer">
                <mat-option
                  *ngFor="let layer of activeLayers"
                  (click)="selectLayer(layer)"
                  [value]="layer"
                >
                  {{ layer | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #legend appPluginComponent></ng-template>
            <ng-template #controls appPluginComponent></ng-template>
          </mat-card-content>
        </mat-card>
        <mat-button-toggle-group
          class="leaflet-control"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            (click)="showControls = !showControls"
            value="controls"
            name="controls-menu"
            [checked]="showControls"
            matTooltip="{{
              showControls
                ? ('Hide legend and controls' | translate)
                : ('Show legend and controls' | translate)
            }}"
          >
            <mat-icon
              [ngStyle]="{ color: '#3f51b5' }"
              svgIcon="settings"
            ></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
