<mat-form-field [ngStyle]="{'display': 'block'}" *ngIf="validDates">
    <input matInput [matDatepickerFilter]="filter.dateFilter" [(ngModel)]="startDate" [matDatepicker]="sd" placeholder="Start date" disabled>
    <mat-datepicker-toggle matSuffix [for]="sd"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #sd startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
</mat-form-field>
<mat-form-field [ngStyle]="{'display': 'block'}" *ngIf="validDates">
    <input matInput [matDatepickerFilter]="filter.dateFilter" [(ngModel)]="endDate" [matDatepicker]="ed" placeholder="End date" disabled>
    <mat-datepicker-toggle matSuffix [for]="ed"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #ed startView="year" [startAt]="endDate" disabled="false"></mat-datepicker>
</mat-form-field>
<p>Export format</p>
<mat-radio-group class="node-type-selector" [(ngModel)]="exportFormat">
    <mat-radio-button
        value="csv"
        class="export-option">
        csv
    </mat-radio-button>
    <mat-radio-button
        value="chart"
        class="export-option">
        chart
    </mat-radio-button>
</mat-radio-group>
<button mat-raised-button (click)="getData()" class="export-button">Export data</button>