.toolbar {
    height: 54px;
    background-color: #007EE5;
    z-index: 10000;
    min-width: 290px;
}

.tabs {
    width: 100%;
}

.content {
    min-height: calc(100% - 50px);
}

.tabbed-content .description {
    color: #2e2e2e;
    font-weight: 300;
}

.sidenav-content {
    width: 100%;
}

.tabbed-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    min-width: 200px;
}

mat-card-image {
    margin: 0 auto;
}

.ico {
    width: 100px;
}

.ico-2 {
    width: 200px;
}