.toolbar {
    height: 54px;
    background-color: #007EE5;
    z-index: 10000;
    min-width: 290px;
}

.menu-element {
    max-height: 100%; 
    max-width: 100%; 
    color: white; 
    text-decoration: none;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
}

.tabs {
    width: 100%;
}

.content {
    min-height: calc(100% - 50px);
}

.tabbed-content .description {
    color: #2e2e2e;
    font-weight: 300;
}

.sidenav-content {
    width: 100%;
}

.tabbed-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

mat-card {
    width: 240px;
    height: calc(100% - 70px);
}

mat-card-content {
    font-size: 10px;
}

.img-container {
    width: calc(100% + 48px);
    overflow: hidden;
    height: 300px;
    margin: 0 -24px 16px -24px;
}

.ico {
    width: 100px;
}

.ico-2 {
    width: 200px;
}
