<mat-toolbar class="toolbar">
  <div [ngStyle]="{'width': '100%'}">
      <div [ngStyle]="{'display' : 'block', 'float': 'left', 'width': '125px', 'height': '50px'}">
        <a routerLink="/" [ngStyle]="{'outline': '0'}"><img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/brand.png" alt="AquApp logo"></a>
      </div>
      <div [ngStyle]="{'width': '125px', 'height': '50px', 'display' : (840 > screenWidth) ? 'none' : 'block', 'float': 'left'}">
        <a href="http://unitecnologica.edu.co">
            <img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/utb-white.png" alt="AquApp logo">
        </a>
      </div>
      <div *ngIf="screenWidth > 840" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
        <button mat-menu-item [matMenuTriggerFor]="languageMenu" class="menu-element"><mat-icon svgIcon="dialog"></mat-icon><span>{{ 'Language' | translate }}</span></button>
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="selectLanguage('es')">{{ 'Spanish' | translate }}</button>
          <button mat-menu-item (click)="selectLanguage('en')">{{ 'English' | translate }}</button>
        </mat-menu>
      </div>
      <div *ngIf="840 > screenWidth" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
        <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-element"><mat-icon svgIcon="three-bar-menu"></mat-icon></button>
        <mat-menu #mainMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="languageMenu"><mat-icon svgIcon="dialog"></mat-icon><span>{{ 'Language' | translate }}</span></button>
        </mat-menu>

        <!--Language menu-->
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="selectLanguage('es')">{{ 'Spanish' | translate }}</button>
          <button mat-menu-item (click)="selectLanguage('en')">{{ 'English' | translate }}</button>
        </mat-menu>
      </div>
  </div>
</mat-toolbar>
<div class="content" (swipeleft)="swipe(selectedIndex, $event)" (swiperight)="swipe(selectedIndex, $event)">
  <mat-tab-group class="tabs" [(selectedIndex)]="selectedIndex">
    <mat-tab label="AquApp">
      <div class="tabbed-content">
        <h1>{{ 'Project' | translate }}</h1>
        <p>
          {{ 'AquApp is a web-based platform created to carry out the monitoring and subsequent follow-up of some physical-chemical and biological parameter of water quality of the estuarine bayous and lagoons internal system (or simply lagoon system) of Cartagena de Indias. The platform also calculates the Marine and Estuarine Water Quality Index for Fauna and Flora Preservation (ICAMpff, by its initials in Spanish), which was created by Invemar (Institute for Marine and Coastal Research).' | translate }}
        </p>
        <p>
          {{ 'The data herein is presented in two different type of format: plots and tables (files in “.cvs”). The user may: (a) visualize the chart in the platform and (b) compare any other parameter from any of the other monitoring points located along the lagoon system.' | translate }}
        </p>
        <h2>{{ 'What is the estuarine bayous and lagoons internal system of Cartagena de Indias?' | translate }}</h2>
        <p>
          {{ 'The system is composed of 6 water bodies: Las Quintas swamp, Bazurto bayou, San Lázaro swamp, Chambacú lagoon, El Cabrero lagoon, and Juan Angola bayou (which includes the parallel channel located along side Rafael Núñez airport). These water bodies are not only interconnected, but also they connect the Cartagena bay (through Las Quintas swamp and San Lazaro lagoon) with the Caribbean Sea (through La Virgen swamp, which, in turn, is connected to lagoon system through Juan Angola bayou).' | translate }}
        </p>
        <p>
          {{ 'Over the years, the lagoon system water quality has gradually deteriorated. Furthermore, it has not only lost water surface area and mangrove biomass (area covered by mangrove), but also the cross section area of all water bodies, chiefly due to: (a) sediments and contaminants carried out by runoff from all the urban watersheds that drain into the lagoon system, (b) legal and illegal human settlements alongside the water bodies, (c) mangrove felling, and (d) solid waste disposed of alongside and into the water bodies. All these negatively impact the water quality, the self-purification capacity, and the hydrodynamics, which determines the fate and concentration of contaminants.' | translate }}
        </p>
        <h2>{{ 'Why AquApp?' | translate }}</h2>
        <p>
          {{ 'The lagoon system is considered an intertidal estuarine system. It is home to fauna and flora that depend on the mangrove, which are sensitive to changes in several physical-chemical and biological parameters (pH, temperature, salinity, nitrates, electrical conductivity, dissolved oxygen, feacal and total coliforms, just to mention some) that may or may not favor the survival of permanent and temporary species. Plus, its ecosystemic services may be also compromised: hydrological regime regulation, carbon dioxide removal, erosion control, microclimate and nutrients regulation, solids retention, among others. As one may see, the water quality of this lagoon system must be continually monitored and followed-up and AquApp makes that possible. The best part: it is freely available for all users!' | translate }}
        </p>
        <h1>{{ 'Features' | translate }}</h1>
        <mat-grid-list [cols]="breakpoint" rowHeight="250px">
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'Real data'  | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      {{ 'Data is collected by UTB undergraduate students through a multi-parameter probe.
                      Monitoring is performed once a week, and data collection is expected to be
                      remotely in a second stage of the project' | translate }}
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ 'Filtering' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      {{ 'Available data can be filtered by picking a station type, date range, station,
                      and parameter using the bottom toolbar and the floating controls' | translate }}
                  </p>
                </mat-card-content>
              </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                  <mat-card-header>
                    <mat-card-title>{{ 'Download' | translate }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                        {{ 'After filtering data, it can be downloaded as a Comma Separated Values (CSV) file,
                        or get a representation as a graph' | translate }}
                    </p>
                  </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ 'No restrictions' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      {{ 'Unlike other institutions with monitoring plans on water bodies of the internal
                      creeks and lakes system of Cartagena that restrict access to the data taken,
                      Aquapp provides information available for the entire community' | translate}}
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ 'Cool' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      {{ 'To guarantee a great experience, we developed a well-built website up-to-date,
                      with worthwhile content and an improved user interface with good navigation for
                      quick and easy travel throughout the entire website' | translate }}
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ 'Cross Browser' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      {{ 'We built this compatible with all modern browsers.
                      You are allow to use it in Chrome,
                      Firefox, Safari and Opera, feel free to prove it yourself' | translate}}
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <h1>{{ 'Special thanks' | translate }}</h1>
        <p>
          {{ "Special thanks to Invemar for their technical support for the estimation of the ICAMpff through the direct connection to their API." | translate }}
        </p>
        <a href="http://www.invemar.org.co/inicio"><img src="/assets/logoInvemar.png" alt="Logo invemar"></a>
        <h1>{{ 'Web Technologies' | translate }}</h1>
        <mat-grid-list [cols]="breakpoint" rowHeight="250">
          <mat-grid-tile><img matTooltip="HTML 5" class="ico" src="/assets/html5.svg" alt="HTML 5 logo"></mat-grid-tile>
          <mat-grid-tile><img matTooltip="CSS 3" class="ico"src="/assets/css-3.svg" alt="CSS 3 logo"></mat-grid-tile>
          <mat-grid-tile><img matTooltip="Angular 6" class="ico"src="/assets/angular-icon-1.svg" alt="Angular 6 logo"></mat-grid-tile>
          <mat-grid-tile><img matTooltip="Flask" class="ico"src="/assets/flask.svg" alt="Flask logo"></mat-grid-tile>
          <mat-grid-tile><img matTooltip="Python 3" class="ico"src="/assets/python-5.svg" alt="Python 3 logo"></mat-grid-tile>
          <mat-grid-tile><img matTooltip="Git" class="ico"src="/assets/git-icon.svg" alt="Git logo"></mat-grid-tile>
          <mat-grid-tile><img matTooltip="LeafletJS" class="ico-2"src="/assets/leaflet.svg" alt="leaflet logo"></mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'Team' | translate }}">
      <div class="tabbed-content">
        <mat-grid-list [cols]="breakpoint" rowHeight="800px">
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                    <mat-card-title>Laura Schiatti</mat-card-title>
                    <mat-card-subtitle>{{ 'Developer' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <div class="img-container">
                  <img mat-card-image src="/assets/team/laura-schiatti.png" alt="Laura Schiatti">
                </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Juan Pablo Rodríguez</mat-card-title>
                  <mat-card-subtitle>{{ 'Developer' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <div class="img-container">
                  <img mat-card-image src="/assets/team/juan-pablo-rodriguez.jpeg" alt="Juan Pablo Rodríguez">
                </div>
                <mat-card-content>
                  <p>
                    Estudiante de séptimo semestre de Ingeniería de Sistemas en la Universidad Tecnológica de Bolívar.
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Álvaro González</mat-card-title>
                  <mat-card-subtitle>{{ 'Researcher' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <div class="img-container">
                  <img mat-card-image src="/assets/team/alvaro-gonzalez.png" alt="Álvaro González">
                </div>
                <mat-card-content>
                <p>
                  {{ 'Civil engineer (University of Cartagena), Master of Science Civil Engineering with emphasis in Environmental Engineering (University of Los Andes), Master of Philosophy Civil Engineering with emphasis in Water Resources (The City College of New York), PhD Civil Engineering with emphasis in Water Resources and Environmental Engineering (The City College of New York). More than 17 years of experience in consulting, research and teaching either in the United States and Colombia. Certified Professional in Erosion and Sediment Control (CPESC).' | translate }}<br>
                  Email: agonzalez7@gmail.com
                </p>
              </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Juan Carlos Martínez</mat-card-title>
                  <mat-card-subtitle>{{ 'Researcher' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <div class="img-container">
                  <img mat-card-image src="/assets/team/juan-carlos-martinez.png" alt="Juan Carlos Martínez">
                </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                  <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>Jairo Serrano</mat-card-title>
                    <mat-card-subtitle>{{ 'Researcher' | translate }}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="img-container">
                    <img mat-card-image src="/assets/team/jairo-serrano.png" alt="Jairo Serrano">
                  </div>
                  <mat-card-content>
                    <p>
                      Jairo Serrano, Ingeniero de sistemas (2006) de la Universidad Tecnológica de Bolívar (UTB), Magíster en Software Libre de la UOC con énfasis en desarrollo de software (2008). Se desempeñó como coordinador de tecnologías de la dirección de educación virtual de la UTB (2001-2010) y profesor de tiempo completo de la Facultad de estudios técnicos y tecnológicos (2011-2013), actualmente director de programa de Ingeniería de Sistemas de la facultad de Ingeniería.<br>
                      Email: jserrano@utb.edu.co
                    </p>
                  </mat-card-content>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'Information' | translate }}">
      <div class="tabbed-content">
        <p>
          {{ 'AquApp is a web-based platform that supports the monitoring program of the bayous and lagoons system of Cartagena de Indias.' | translate }}
        </p>
        <p>
          {{ 'This program is freely available: you may redistribute and/or modify it under the terms of the license GNU Affero General Public License or any other subsequent version.' | translate }}
        </p>
        <p>
          {{ 'For more information, click ' | translate }} <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">{{ 'here' | translate }}</a>
          {{ ' to read the GNU Affero General Public License' | translate }}
        </p>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'Contact' | translate }}">
      <div class="tabbed-content">
          <p>
            {{ 'You are free to drop us some lines by adding a comment on our project Wiki.
            Besides, esta wiki (on GitHub) will help you get in-depth information the project.' | translate }}
          </p>
          <p>
            <a href="https://github.com/IngenieriaDeSistemasUTB/aquappservice/wiki">{{ 'Join the conversation' | translate }}</a>
          </p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
