.content {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: #007EE5;
    margin: 0;
    overflow: hidden;
    min-width: 300px;
    min-height: 300px;
}

.road-closure {
    width: 250px;
    height: auto;
}

.title {
    color: white;
}