<table>
  <tr>
    <td>
      <p>
        {{ 'Non Real Time' | translate }}
      </p>
    </td>
    <td>
      <img src="assets/glyph-marker-icon-blue.png" />
    </td>
  </tr>
  <tr>
    <td>
      <p>
        {{ 'Off' | translate }}
      </p>
    </td>
    <td>
      <img src="assets/glyph-marker-icon-gray.png" />
    </td>
  </tr>
  <tr>
    <td>
      <p>
        {{ 'Real Time' | translate }}
      </p>
    </td>
    <td>
      <img src="assets/glyph-marker-icon-green.png" />
    </td>
  </tr>
</table>
