.toggle-menu-up {
  position: relative;
  bottom: 54px;
  margin: 0 auto;
  z-index: 100000;
}

.loading {
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 8vw;
  text-align: center;
  height: 120px;
  line-height: 110px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 8vw);
  bottom: 0;
  display: block;
}

@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}

@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}

.wave {
  background-image: url('/assets/wave.png');
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation: wave-animation 1s infinite linear,
    loading-animation 2s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;
}

.toggle-menu-down {
  position: relative;
  top: 0px;
  margin: 0 auto;
  z-index: 100000;
}

mat-card {
  opacity: 0.7;
}

mat-card:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.floating-controls {
  width: 200px;
  opacity: 0.7;
}

.floating-controls:hover {
  width: 200px;
  opacity: 1;
}

.parent-login-container {
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
}

.grand-parent-login-container {
  display: table;
  height: calc(100% - 54px);
  margin: 0 auto;
  position: absolute;
  z-index: 10000;
  width: 100%;
  overflow: hidden;
}

.background {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: calc(100% - 54px);
  z-index: 9999;
  width: 100%;
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.6) !important;
  filter: blur(10px);
  z-index: -1000;
  background: inherit;
}
