database/*
.vscode/
new_stuff/
backend/.env
backend/Pipfile
backend/Pipfile.lock
docker-compose2.yml
*/**/__pycache__/*
*/**/*.pyc
build/*
tests/
imports/*
backups/*
aquapp/config/utb.edu.co.*
databasenew/*
.docker-compose-new-test.yml.swp
grafana-storage/*
influxdb-data/*