database/*
.vscode/
new_stuff/
backend/.env
backend/Pipfile
backend/Pipfile.lock
docker-compose2.yml
*/**/__pycache__/*
*/**/*.pyc
build/*
tests/
imports/*
backups/*
databasenew/*
.docker-compose-new-test.yml.swp
