.feature {
  width: 240px;
  height: calc(100% - 70px);
}

mat-card-content {
  font-size: 10px;
}

.team-member {
  width: 240px;
}

mat-list-item {
    cursor: pointer;
}

mat-sidenav {
    height: 500px;
    position: fixed;
    top: 75px;
    background: transparent;
    border: 0;
}

.sidenav-open-button {
    position: fixed;
    position: -webkit-sticky;
    bottom: 5px;
    left: 5px;
    opacity: 0.6;
    z-index: 10000;
}

.sidenav-open-button:hover {
    opacity: 1;
}

.card-content-container {
  overflow-y: auto;
  height: 100px;
}

.ico {
  width: 100px;
}

.ico-2 {
  width: 200px;
}

.img-crop {
  overflow: hidden;
  height: 300px;
}
