<mat-grid-list [cols]="cols" rowHeight="170">
  <mat-grid-tile @fadeIn>
    <mat-card routerLink="/tipos-de-nodos">
      <mat-card-title class="card-title">Tipos de nodo</mat-card-title>
      <mat-card-content> Administrar tipos de nodos. </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile @fadeIn>
    <mat-card routerLink="/nodos">
      <mat-card-title class="card-title">Nodos</mat-card-title>
      <mat-card-content> Administrar nodos. </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile @fadeIn>
    <mat-card routerLink="/cuerpos-de-agua">
      <mat-card-title class="card-title">Cuerpos de agua</mat-card-title>
      <mat-card-content> Administrar cuerpos de agua. </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile @fadeIn>
    <mat-card routerLink="/usuarios">
      <mat-card-title class="card-title">Usuarios</mat-card-title>
      <mat-card-content> Administrar usuarios. </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile @fadeIn>
    <mat-card routerLink="/semillas">
      <mat-card-title class="card-title">Semillas</mat-card-title>
      <mat-card-content> Cargar datos iniciales para los nodos. </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
