<div
    *ngIf="mapOptions && mapDrawOptions"
    leaflet
    leafletDraw
    [ngStyle]="mapStyle"
    [leafletOptions]="mapOptions"
    [leafletDrawOptions]="mapDrawOptions"
    (leafletMapReady)="onMapReady($event)"
></div>
<app-file-upload
    [showFileNameInput]="false"
    allowedTypes="json/*"
    uploadButtonText=""
    [(ngModel)]="importedData"
    name="import"
></app-file-upload>
<button
    mat-icon-button
    mat-raised-button
    color="primary"
    (click)="import()"
    matTooltip="Importar"
>
    <mat-icon svgIcon="call_received"></mat-icon>
</button>