.node-type {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.side-navbar {
    height: 100%;
    width: 300px;
    max-width: 85%;
}

.sidenav-content {
    width: 100%;
}

#mapid {
    height: 100%;
    width: 100%;
}

.leaflet-control {
    float: left;
    margin-bottom: 20px;
}

/* Popup */
.leaflet-popup-content{
    font-family: 'Lato', serif;
    font-size: 1.2em;
}

.leaflet-popup-title {
    font-size: 1.2em;
}

/* Uper info window & bottom legend */
.info {
    padding: 10px;
    font: 16px 'Lato', serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.info h4 {
    font-size: 1.1em;
    margin: 0 0 5px;
    color: #007EE5;
}

.legend {
    line-height: 20px;
    color: #000;
    min-width:100px;
}
.legend i {
    width: 20px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend p{
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .leaflet-popup-content{
        font-size: 0.8em;
        padding: 0;
    }

    .leaflet-popup-title {
        font-size: 0.9em;
    }

    /* Uper info window & bottom legend */
    .info {
        font-size: 12px;
        padding: 3px 5px;
    }
    .info h4 {
        font-size: 1.1em;
        margin: 0;
    }
    .legend p{
        margin-bottom: 0;
    }
}

/*
 * Leaflet Glyph Icon
 * From: https://leaflet.github.io/Leaflet.Icon.Glyph/demo.html
*/
.leaflet-marker-icon.xolonium {
    font-weight: bold;
    font-family: Xolonium;
}

/*
 * Icons List
*/
.icon{
    font-size: 11px;
    color: white;
    width: 27px;
    line-height: 48px;
    text-align: center;
    margin-top: -7px;
    pointer-events: none;
    display: inline-block;
}