<mat-toolbar color="primary" *ngIf="noHeaderRoutes.indexOf(router.url) === -1">
  <div
    [ngStyle]="{
      display: 'block',
      float: 'left'
    }"
    matTooltip="Volver al inicio"
  >
    <a routerLink="/" [ngStyle]="{ outline: '0', 'vertical-align': 'middle' }"
      ><img
        [ngStyle]="{
          display: 'block',
          float: 'left',
          width: '125px',
          height: '41.66px'
        }"
        src="assets/brand.png"
        alt="AquApp logo"
    /></a>
  </div>
  <div
    class="autohide"
    [ngStyle]="{
      width: '125px',
      height: '50px',
      float: 'left'
    }"
    matTooltip="Universidad Tecnológica de Bolívar"
  >
    <a href="https://www.utb.edu.co">
      <img
        [ngStyle]="{
          display: 'block',
          float: 'left',
          'max-height': '100%',
          'max-width': '100%'
        }"
        src="assets/utb-white.png"
        alt="AquApp logo"
      />
    </a>
  </div>
  <div @fadeInOut [ngStyle]="{ margin: '0 auto' }"></div>
  <div
    @fadeInOut
    *ngIf="
      freeRoutes.indexOf(router.url.split('?')[0]) !== -1 &&
      !cordovaService.onCordova
    "
  >
    <a href="https://www.gofundme.com/aquapp">
      <button [ngStyle]="{ color: 'white' }" mat-button routerLink>
        {{ 'Donate' | translate }}
      </button>
    </a>
  </div>
  <div @fadeInOut>
    <button mat-button (click)="toggleLanguage()">
      {{ selectedLanguage }}
    </button>
  </div>
  <div @fadeInOut>
    <button mat-button routerLink="/acerca-de" *ngIf="url !== '/acerca-de'">
      {{ 'About' | translate }}
    </button>
  </div>
  <div
    @fadeInOut
    [ngStyle]="{ float: 'right', display: 'block' }"
    *ngIf="freeRoutes.indexOf(url) === -1"
  >
    <button
      mat-button
      mat-raised-button
      mat-icon-button
      color="accent"
      (click)="confirmLogOut()"
      matTooltip="Cerrar sesión"
    >
      <mat-icon svgIcon="exit_to_app"></mat-icon>
    </button>
  </div>
</mat-toolbar>
