<mat-toolbar color="primary" *ngIf="router.url != '/login'">
  <div
    [ngStyle]="{
      display: 'block',
      float: 'left',
      width: '125px',
      height: '50px'
    }"
  >
    <a routerLink="/" [ngStyle]="{ outline: '0' }"
      ><img
        [ngStyle]="{
          display: 'block',
          float: 'left',
          'max-height': '100%',
          'max-width': '100%'
        }"
        src="/assets/brand.png"
        alt="AquApp logo"
    /></a>
  </div>
  <div
    [ngStyle]="{
      width: '125px',
      height: '50px',
      display: 840 > screenWidth ? 'none' : 'block',
      float: 'left'
    }"
  >
    <a href="http://unitecnologica.edu.co">
      <img
        [ngStyle]="{
          display: 'block',
          float: 'left',
          'max-height': '100%',
          'max-width': '100%'
        }"
        src="/assets/utb-white.png"
        alt="AquApp logo"
      />
    </a>
  </div>
  <div *ngIf="freeRoutes.indexOf(router.url) === -1">
    <button
      mat-button
      mat-raised-button
      mat-icon-button
      color="accent"
      (click)="confirmLogOut()"
      matTooltip="Cerrar sesión"
    >
      <mat-icon svgIcon="exit_to_app"></mat-icon>
    </button>
  </div>
</mat-toolbar>
