<div class="container">
  {{ 'ICAMpff (estuary) values' | translate }} <br />
  <i style="background:#555555"></i> {{ 'Unavailable' | translate }}<br />
  <i style="background:#FB1502"></i>
  {{ 'Poor' | translate }} (0–25)<br />
  <i style="background:#F57702"></i>
  {{ 'Inadequate' | translate }} (26–50)<br />
  <i style="background:#F9F107"></i>
  {{ 'Acceptable' | translate }} (51–70)<br />
  <i style="background:#49C502"></i>
  {{ 'Adequate' | translate }} (71–90)<br />
  <i style="background:#0032FF"></i> {{ 'Optimal' | translate }} (91 - 100)
</div>
