<mat-toolbar [ngStyle]="{'height': '54px', 'background-color': '#007EE5'}">
  <div [ngStyle]="{'width': '100%'}">
      <div [ngStyle]="{'display' : 'block', 'float': 'left', 'width': '125px', 'height': '50px'}">
        <a routerLink="/" [ngStyle]="{'outline': '0'}"><img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/brand.png" alt="AquApp logo"></a>
      </div>
      <div [ngStyle]="{'width': '125px', 'height': '50px', 'display' : (840 > screenWidth) ? 'none' : 'block', 'float': 'left'}">
        <a href="http://unitecnologica.edu.co">
          <img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/utb-white.png" alt="AquApp logo">
        </a>
      </div>
      <div [ngStyle]="{'width': '125px', 'height': '50px', 'display' : (840 > screenWidth) ? 'none' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
        <a routerLink="/about" [ngStyle]="{'outline': '0', 'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%', 'color': 'white', 'text-decoration': 'none'}" >About</a>
      </div>
      <div [ngStyle]="{'width': '125px', 'height': '50px', 'display' : (screenWidth > 840) ? 'none' : 'flex', 'float': 'right', 'align-items': 'center', 'justify-content': 'center'}">
        <button [ngStyle]="{'display': 'block', 'margin-top': 'auto', 'margin-bottom': 'auto'}" mat-button type="button" md-button (click)="sidenav.toggle()">
          <mat-icon  svgIcon="three-bar-menu"></mat-icon>
        </button>
      </div>
  </div>
</mat-toolbar>
<mat-sidenav-container [ngStyle]="{'height': '90%', 'width': '100%'}">
  <mat-sidenav #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'" class="side-navbar">
      <mat-accordion>
        <mat-expansion-panel [expanded]="defaultExpandedElement === true" (opened)="defaultExpandedElement = true" (closed)="defaultExpandedElement = false">
          <mat-expansion-panel-header>
              <mat-panel-title>Stations</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group (change)="resetMarkers()" class="node-type-selector" *ngFor="let node_type of node_types" [(ngModel)]="selected_node_type">
              <mat-radio-button
                  [value]="node_type"
                  class="node-type">
                {{ node_type }}
              </mat-radio-button>
          </mat-radio-group>
          
          <table [ngStyle]="{'text-align': 'center', 'font-size': '12px', 'margin-top': '5px'}">
            <tr>
              <td>Real Time</td>
              <td>Non Real Time</td>
              <td>Off</td>
            </tr>
            <tr>
              <td><img src="assets/glyph-marker-icon-green.png" alt="Icon for real time station"></td>
              <td><img src="assets/glyph-marker-icon-blue.png" alt="Icon for real time station"></td>
              <td><img src="assets/glyph-marker-icon-gray.png" alt="Icon for real time station"></td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Export</mat-panel-title>
            </mat-expansion-panel-header>
            <app-export-selector></app-export-selector>
        </mat-expansion-panel>
      </mat-accordion>
      <p>ñasldkfjñalsdkfj</p>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
      <div id="mapid">
          <div class="leaflet-control-container">
            <div class="leaflet-top leaflet-left">
              <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
                <a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a>
              </div>
            </div>
            <div class="leaflet-top leaflet-right"></div>
            <div class="leaflet-bottom leaflet-left">
              <div class="info legend leaflet-control">
                  <p class="text-center text-primary">ICAMpff (estuary) values</p>
                  <i style="background:#FB1502"></i> Poor (0–25)<br>
                  <i style="background:#F57702"></i> Inadequate (26–50)<br>
                  <i style="background:#F9F107"></i> Acceptable (51–70)<br>
                  <i style="background:#49C502"></i> Adequate (71–90)<br>
                  <i style="background:#0032FF"></i> Optimal (91 - 100)
                </div>
            </div>
            <div class="leaflet-bottom leaflet-right">
            </div>
          </div>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>