<mat-toolbar class="toolbar">
  <div [ngStyle]="{'width': '100%'}">
      <div [ngStyle]="{'display' : 'block', 'float': 'left', 'width': '125px', 'height': '50px'}">
        <a routerLink="/" [ngStyle]="{'outline': '0'}"><img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/brand.png" alt="AquApp logo"></a>
      </div>
      <div [ngStyle]="{'width': '125px', 'height': '50px', 'display' : (840 > screenWidth) ? 'none' : 'block', 'float': 'left'}">
        <a href="http://unitecnologica.edu.co">
          <img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/utb-white.png" alt="AquApp logo">
        </a>
      </div>
      <div *ngIf="screenWidth > 840" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
        <button mat-menu-item [matMenuTriggerFor]="languageMenu" class="menu-element">{{ 'Language' | translate }}</button>
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="selectLanguage('es')">{{ 'Spanish' | translate }}</button>
          <button mat-menu-item (click)="selectLanguage('en')">{{ 'English' | translate }}</button>
        </mat-menu>
      </div>
      <div *ngIf="screenWidth > 840" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
        <a routerLink="/about"><button mat-menu-item class="menu-element">{{ 'About' | translate }}</button></a>
      </div>
      <!--Menu button-->
      <div *ngIf="840 > screenWidth" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
        <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-element"><mat-icon svgIcon="three-bar-menu"></mat-icon></button>
        <mat-menu #mainMenu="matMenu">
          <a routerLink="/about"><button mat-menu-item>{{ 'About' | translate }}</button></a>
          <button mat-menu-item [matMenuTriggerFor]="languageMenu">{{ 'Language' | translate }}</button>
        </mat-menu>

        <!--Language menu-->
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="selectLanguage('es')">{{ 'Spanish' | translate }}</button>
          <button mat-menu-item (click)="selectLanguage('en')">{{ 'English' | translate }}</button>
        </mat-menu>
      </div>
  </div>
</mat-toolbar>
<div id="mapid">
  <div class="leaflet-control-container">
    <div class="leaflet-top leaflet-left">
      <div class="leaflet-control-zoom leaflet-bar leaflet-control">
        <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
        <a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a>
      </div>
    </div>
    <div class="leaflet-top leaflet-right">
      <div class="legend info leaflet-control">
        <div *ngIf="selectedWaterBody">
          <p><b>{{ selectedWaterBody.properties.name }}</b></p>
          <p>ICAMpff: &nbsp; &nbsp; &nbsp;<b [ngStyle]="{'font-size': '16px'}">{{ selectedWaterBody.properties.icam }}</b></p>
        </div>
        <mat-divider *ngIf="selectedWaterBody"></mat-divider>
        <div><p><b>{{ 'ICAMpff (estuary) values' | translate }}</b></p></div>
        <i style="background:#FB1502"></i> {{ 'Poor' | translate }} (0–25)<br>
        <i style="background:#F57702"></i> {{ 'Inadequate' | translate }} (26–50)<br>
        <i style="background:#F9F107"></i> {{ 'Acceptable' | translate }} (51–70)<br>
        <i style="background:#49C502"></i> {{ 'Adequate' | translate }} (71–90)<br>
        <i style="background:#0032FF"></i> {{ 'Optimal' | translate }} (91 - 100)
      </div>
    </div>
    <div class="leaflet-bottom leaflet-left floating-controls">
      <button mat-button [matMenuTriggerFor]="filterMenu" class="leaflet-control">
        <mat-icon svgIcon="filter"></mat-icon>
        <span></span>
      </button>
      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item *ngFor="let nodeType of nodeTypes" (click)="resetMarkers(nodeType.name)">{{ nodeType.name | translate }}</button>
        <button mat-menu-item (click)="resetMarkers('All')">{{ 'All' | translate}}</button>
      </mat-menu>  
    </div>
    <div class="leaflet-bottom leaflet-right">
    </div>
  </div>
</div>
<div class="export-menu">
  <div *ngIf="!selectedNode" class="placeholder">
    <p>{{ 'Please, select a station' | translate}}</p>
  </div>
  <div *ngIf="selectedNode" class="export-menu-label">
    <span>{{ selectedNode.name }}</span>
  </div>
  <div class="sensors-container">
    <div *ngIf="selectedNode" class="sensors">
      <button mat-button *ngFor="let sensor of selectedNodeSensors" (click)="openDialog(sensor.variable)" class="sensor">{{ sensor.variable | translate }}</button>
    </div>
  </div>
</div>