<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/content/dygraph.css">
    <link rel="stylesheet" href="../static/content/bootstrap.min.css">
    <script src="../static/scripts/jquery-1.10.2.min.js"></script>
    <script src="../static/scripts/graph.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="../static/scripts/dygraph.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="graph"></div>
    <script type="text/javascript">
    </script>
</body>
</html>