<h1 mat-dialog-title>
  {{ data.variable | translate }} {{ 'over time' | translate }}
</h1>
<div mat-dialog-content [ngStyle]="{'height': '80%', 'padding-top': '25px'}">
  <ng-dygraphs
    [data]="data.sensor_data"
    [options]="data.options">
  </ng-dygraphs>
  <p>
    {{ 'You can zoom a vertical or horizontal section of the chart
        by clicking and then dragging with the mouse. 
        Double click on the chart to unzoom.' | translate }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>{{ 'Close' | translate }}</button>
  <button mat-button (click)="expand()">{{ 'Maximize' | translate }}</button>
  <button mat-button (click)="reduce()">{{ 'Minimize' | translate }}</button>
</div>