.export-option {
    display: block;
    margin-top: 5px;
}

.export-button {
    margin-top: 5px;
}

::ng-deep .dygraph-legend {
    left: 75px !important;
    background: transparent !important;
}

::ng-deep .dygraph-label-rotate-right {
    left: -140px !important;
}

::ng-deep .mat-optgroup .mat-optgroup-label {
    font-weight: bold;
    color: black;
}

::ng-deep .mat-optgroup .mat-option-text {
    font-size: 12px;
}