<mat-card>
  <mat-card-title>Obtener datos</mat-card-title>
  <mat-card-content @fadeIn>
    <mat-form-field *ngIf="variables">
      <mat-select placeholder="Variable" [(value)]="variable">
        <mat-option *ngFor="let variable of variables" [value]="variable">
          {{ variable }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="pickerst"
        placeholder="Inicio"
        [(ngModel)]="start"
        name="ndatumdate"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerst"></mat-datepicker-toggle>
      <mat-datepicker touchUi #pickerst></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="pickered"
        placeholder="Fecha"
        [(ngModel)]="end"
        name="ndatumdate"
      />
      <mat-datepicker-toggle matSuffix [for]="pickered"></mat-datepicker-toggle>
      <mat-datepicker touchUi #pickered></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      mat-icon-button
      color="accent"
      (click)="getData()"
    >
      <mat-icon svgIcon="navigate_next"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
