<mat-card @fadeInOut *ngIf="loading && !failed">
  <mat-card-title>Cargando datos, por favor espere</mat-card-title>
  <mat-card-content>
    <mat-spinner></mat-spinner>
  </mat-card-content>
</mat-card>

<mat-card @fadeInOut *ngIf="!loading && failed">
  <mat-card-title>Error cargando los datos</mat-card-title>
  <mat-card-content>
    Intente recargando la página.
  </mat-card-content>
</mat-card>

<mat-card @fadeInOut *ngIf="!loading && !failed">
  <mat-card-title>{{ 'Export data' | translate }}</mat-card-title>
  <mat-card-content>
    <table class="table">
      <tr>
        <th colspan="2" [ngStyle]="{ 'text-align': 'center' }">
          {{ entity1Name }}
        </th>
      </tr>
      <div
        *ngIf="
          entity1Type === 'node';
          then entity1IsNode;
          else entity1IsWaterBody
        "
      ></div>
      <ng-template #entity1IsNode>
        <tr>
          <th>Variable</th>
          <td>
            <form>
              <mat-form-field>
                <mat-select [(ngModel)]="entity1Variable" name="entity1var">
                  <mat-option
                    *ngFor="let sensor of entity1Sensors"
                    [value]="sensor.variable"
                    (click)="getValidDates()"
                  >
                    {{ sensor.variable }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </td>
        </tr>
      </ng-template>
      <ng-template #entity1IsWaterBody>
        <tr>
          <th>Variable</th>
          <td>ICAMPff</td>
        </tr>
      </ng-template>
    </table>

    <table class="table">
      <tr>
        <th>{{ 'Compare data with' | translate }}</th>
        <td>
          <form>
            <mat-form-field>
              <mat-select [(value)]="entity2Type" name="entity2tp">
                <mat-option [value]="''">{{ '' }}</mat-option>
                <mat-option [value]="'node'">{{
                  'Node' | translate
                }}</mat-option>
                <mat-option [value]="'waterBody'">{{
                  'Water body' | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </td>
      </tr>
      <div *ngIf="!!entity2Type; then entity2TypeExists"></div>
      <ng-template #entity2TypeExists>
        <div
          *ngIf="
            entity2Type === 'node';
            then entity2IsNode;
            else entity2IsWaterBody
          "
        ></div>

        <ng-template #entity2IsNode>
          <tr>
            <th>{{ 'Node to be compared with' | translate }}</th>
            <td>
              <form>
                <mat-form-field>
                  <mat-select [(value)]="entity2Id" name="nodetocompare">
                    <mat-option
                      *ngFor="let node of nodes"
                      [value]="node.id"
                      (click)="getEntity2Sensors(node.nodeTypeId, node.name)"
                    >
                      {{ node.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </td>
          </tr>
          <tr>
            <th>Variable</th>
            <td>
              <form>
                <mat-form-field>
                  <mat-select [(ngModel)]="entity2Variable" name="entity2var">
                    <mat-option
                      *ngFor="let sensor of entity2Sensors"
                      [value]="sensor.variable"
                    >
                      {{ sensor.variable }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </td>
          </tr>
        </ng-template>

        <ng-template #entity2IsWaterBody>
          <tr>
            <th>{{ 'Cuerpo de agua a comparar' | translate }}</th>
            <td>
              <form>
                <mat-form-field>
                  <mat-select [(value)]="entity2Id" name="entity2id">
                    <mat-option
                      *ngFor="let waterBody of waterBodies"
                      [value]="waterBody.id"
                      (click)="entity2Name = waterBody.name"
                    >
                      {{ waterBody.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </td>
          </tr>
          <tr>
            <th>Variable</th>
            <td>ICAMPff</td>
          </tr>
        </ng-template>
      </ng-template>
    </table>

    <table class="table">
      <tr>
        <th>{{ 'Meassure start' | translate }}</th>
        <td>
          <form>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="pickerst"
                [(ngModel)]="entity1Start"
                name="ndatumdate"
                [disabled]="validDates === undefined"
                [matDatepickerFilter]="filterDates"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerst"
              ></mat-datepicker-toggle>
              <mat-datepicker
                touchUi
                [disabled]="validDates === undefined"
                #pickerst
              ></mat-datepicker>
            </mat-form-field>
          </form>
        </td>
      </tr>
      <tr>
        <th>{{ 'Meassure end' | translate }}</th>
        <td>
          <form>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="pickered"
                [(ngModel)]="entity1End"
                name="ndatumdate"
                [disabled]="validDates === undefined"
                [matDatepickerFilter]="filterDates"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickered"
              ></mat-datepicker-toggle>
              <mat-datepicker
                touchUi
                [disabled]="validDates === undefined"
                #pickered
              ></mat-datepicker>
            </mat-form-field>
          </form>
        </td>
      </tr>
    </table>

    <div *ngIf="validDates !== undefined && !validDates.length">
      <div
        *ngIf="entity1Type === 'node'; then entity1IsANode; else entity1IsWB"
      ></div>
      <ng-template #entity1IsANode>
        <b>{{
          'It seems that the selected node has no data for this variable.'
            | translate
        }}</b>
      </ng-template>
      <ng-template #entity1IsWB>
        <b>{{
          'It seems that the selected water body has no data.' | translate
        }}</b></ng-template
      >
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button mat-icon-button color="accent" (click)="export()">
      <mat-icon svgIcon="check"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
