<mat-toolbar class="toolbar">
  <div [ngStyle]="{'width': '100%'}">
    <div [ngStyle]="{'display' : 'block', 'float': 'left', 'width': '125px', 'height': '50px'}">
      <a routerLink="/" [ngStyle]="{'outline': '0'}"><img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/brand.png" alt="AquApp logo"></a>
    </div>
    <div [ngStyle]="{'width': '125px', 'height': '50px', 'display' : (840 > screenWidth) ? 'none' : 'block', 'float': 'left'}">
      <a href="http://unitecnologica.edu.co">
        <img [ngStyle]="{'display' : 'block', 'float': 'left', 'max-height': '100%', 'max-width': '100%'}" src="/assets/utb-white.png" alt="AquApp logo">
      </a>
    </div>
    <div *ngIf="screenWidth > 840" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
      <button mat-menu-item [matMenuTriggerFor]="languageMenu" class="menu-element"><mat-icon svgIcon="dialog"></mat-icon><span>{{ 'Language' | translate }}</span></button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="selectLanguage('es')">{{ 'Spanish' | translate }}</button>
        <button mat-menu-item (click)="selectLanguage('en')">{{ 'English' | translate }}</button>
      </mat-menu>
    </div>
    <div *ngIf="screenWidth > 840" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
      <a routerLink="/about"><button mat-menu-item class="menu-element"><mat-icon svgIcon="questionmark"></mat-icon><span>{{ 'About' | translate }}</span></button></a>
    </div>
    <div *ngIf="screenWidth > 840" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
      <button mat-menu-item class="menu-element" (click)="authenticate()"><mat-icon svgIcon="authenticate"></mat-icon><span>{{ 'Authenticate' | translate }}</span></button>
    </div>
    <!--Menu button-->
    <div *ngIf="840 > screenWidth" [ngStyle]="{'width': 'auto', 'height': '50px', 'display' : 'block', 'float': 'right', 'text-align': 'center', 'line-height': '50px', 'vertical-align': 'middle'}">
      <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-element"><mat-icon svgIcon="three-bar-menu"></mat-icon></button>
      <mat-menu #mainMenu="matMenu">
        <a routerLink="/about"><button mat-menu-item><mat-icon svgIcon="questionmark"></mat-icon><span>{{ 'About' | translate }}</span></button></a>
        <button mat-menu-item (click)="authenticate()"><mat-icon svgIcon="authenticate"></mat-icon><span>{{ 'Authenticate' | translate }}</span></button>
        <button mat-menu-item [matMenuTriggerFor]="languageMenu"><mat-icon svgIcon="dialog"></mat-icon><span>{{ 'Language' | translate }}</span></button>
      </mat-menu>

      <!--Language menu-->
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="selectLanguage('es')">{{ 'Spanish' | translate }}</button>
        <button mat-menu-item (click)="selectLanguage('en')">{{ 'English' | translate }}</button>
      </mat-menu>
    </div>
</div>
</mat-toolbar>


<div class="floating-controls">
  <form *ngIf="nodes">
    <mat-form-field class="floating-control-field">
      <input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="newNodeName" name="new_node_name">
    </mat-form-field>

    <mat-form-field class="floating-control-field">
      <input matInput placeholder="{{ 'Location' | translate }}" [(ngModel)]="newNodeLocation" name="new_node_loc">
    </mat-form-field>
    
    <mat-form-field class="floating-control-field">
      <input matInput placeholder="{{ 'Latitude' | translate }}" [(ngModel)]="newNodeLat" name="new_node_lat">
    </mat-form-field>

    <mat-form-field class="floating-control-field">
      <input matInput placeholder="{{ 'Longitude' | translate }}" [(ngModel)]="newNodeLng" name="new_node_lng">
    </mat-form-field>
  
    <mat-form-field class="floating-control-field">
      <mat-select placeholder="{{ 'Status' | translate }}" [(value)]="newNodeStatus">
        <mat-option [value]="'Off'">
          {{ 'Off' | translate }}
        </mat-option>
        <mat-option [value]="'Non Real Time'">
          {{ 'Non Real Time' | translate }}
        </mat-option>
        <mat-option [value]="'Real Time'">
          {{ 'Real Time' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="floating-control-field">
      <mat-select placeholder="{{ 'Node type' | translate }}" [(value)]="newNodeType">
        <mat-option *ngFor="let nodeType of nodeTypes" [value]="nodeType._id">
          {{ nodeType.name | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  </form>
  <button mat-button class="create-button" (click)="create()">{{ 'Create new node' | translate }}</button>
</div>

<div id="mapid"></div>
<div class="dashmenu">
  <div *ngIf="selectedNode" class="dashmenu-label">
    <div class="sensors-container">
      <div class="sensors">
        <form>
          <mat-form-field class="sensor">
            <input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="selectedNode.name" name="name">
          </mat-form-field>
          
          <mat-form-field class="sensor">
            <input matInput placeholder="{{ 'Location' | translate }}" [(ngModel)]="selectedNode.location" name="loc">
          </mat-form-field>
          
          <mat-form-field class="sensor">
            <input matInput placeholder="{{ 'Latitude' | translate }}" [(ngModel)]="selectedNode.coordinates[0]" name="lat">
          </mat-form-field>
          
          <mat-form-field class="sensor">
            <input matInput placeholder="{{ 'Longitude' | translate }}" [(ngModel)]="selectedNode.coordinates[1]" name="long">
          </mat-form-field>

          <mat-form-field class="sensor">
            <mat-select placeholder="{{ 'Status' | translate }}" [(value)]="selectedNode.status">
              <mat-option [value]="'Off'">
                {{ 'Off' | translate }}
              </mat-option>
              <mat-option [value]="'Non Real Time'">
                {{ 'Non Real Time' | translate }}
              </mat-option>
              <mat-option [value]="'Real Time'">
                {{ 'Real Time' | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="sensor">
            <mat-select placeholder="{{ 'Node type' | translate }}" [(value)]="selectedNode.node_type_id">
              <mat-option *ngFor="let nodeType of nodeTypes" [value]="nodeType._id">
                {{ nodeType.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <button mat-button class="update-button" (click)="update()">{{ 'Update' | translate }}</button>
    <button mat-button class="delete-button" (click)="confirmDeletion()">{{ 'Delete' | translate }}</button>
  </div>
</div>